<section class="marketing-section">
    <script type="module" src="https://unpkg.com/@niftykit/components/dist/components/components.esm.js"></script><style> 
    .web3modal-modal-lightbox { z-index: 999 !important; }
    .web3modal-modal-container { z-index: 999 !important; }
    .web3modal-modal-card { z-index: 999 !important; }
    </style>
    
    <header class="col-md-push-2 col-sm-12 section-header">
        <h3>Minting</h3>
    </header>
    <div>
    <nk-dropkit apikey="{{ page.marketing["minting-key"] }}" />
    <p><em>(or visit the <a href="{{ page.marketing["minting-page"] }}">NiftyKit Minting Page</a>)</em></p>
    </div>
    
    <div class="container">
        <header class="col-md-push-2 col-sm-12 section-header">
            <h3>Marketplace</h3>
        </header>
        <div>
            <ul>
                <li><a href="{{ page.marketing["opensea"] }}" target="_blank">{{ page.coll-name }} on Opensea.io</a></li>
                <li><a href="{{ page.marketing["rarible"] }}" target="_blank">{{ page.coll-name }} on Rarible.com</a></li>
            </ul>
        </div>
    </div>
</section>