<section>
  <div class="container">
    <header class="section-header text-center">
        <h2>Roadmap</h2>
        <hr class="normal">
    </header>
    <div class="row">
        <div class="col-md-12">
            <div class="timeline-section">
                {% for event in page.events %}
                <div class="timeline">
                    <div class="timeline-icon"><i class="{{ event.icon }}"></i></div>
                    <span class="date">{{ event.date }}</span>
                    <div class="timeline-content">
                        <h5 class="title">{{ event.title }}</h5>
                        <p class="description">{{ event.description }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
  </div>
<section>