.timeline-section {
    overflow: hidden;
    position: relative
}

.timeline-section .timeline {
    width: 50%;
    float: left;
    z-index: 1;
    position: relative;
    min-height: 10rem;
}

.timeline-section .timeline:after,.timeline-section .timeline:before {
    content: "";
    display: block;
    clear: both
}

.timeline-section .timeline:before {
    width: 40px;
    height: 90%;
    background: #727cb6;
    position: absolute;
    top: 10%;
    right: -20px
}

.timeline-section .timeline:last-child:before {
    height: 0
}

.timeline-section .timeline-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #727cb6;
    overflow: hidden;
    text-align: center;
    position: absolute;
    top: 0;
    right: -40px;
    z-index: 3
}

.timeline-section .timeline-icon:before {
    content: "";
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #fff;
    border: 2px solid #727cb6;
    box-shadow: 0 0 0 4px #a5afe4;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

.timeline-section .timeline-icon i {
    font-size: 35px;
    color: #303a3b;
    line-height: 80px;
    z-index: 1;
    position: relative
}

.timeline-section .date {
    display: block;
    padding: 0 60px 0 30px;
    font-size: 30px;
    color: #303a3b;
    text-align: right;
    border-bottom: 2px solid #303a3b;
    z-index: 2;
    position: relative
}

.timeline-section .date:before {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #727cb6;
    border: 5px solid #fff;
    box-shadow: 0 0 0 4px #727cb6;
    margin: auto;
    position: absolute;
    bottom: -15px;
    left: 4px
}

.timeline-section .date:after {
    content: "";
    border-left: 10px solid #303a3b;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    bottom: -11px;
    left: 50px
}

.timeline-section .timeline-content {
    padding: 18px 60px 18px 40px;
    text-align: right;
    position: relative;
    z-index: 1
}

.timeline-section .timeline-content:after,.timeline-section .timeline-content:before {
    content: "";
    width: 80px;
    height: 150px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: -7%;
    z-index: -1
}

.timeline-section .timeline-content:before {
    right: 15px
}

.timeline-section .timeline-content:after {
    left: auto;
    right: -95px
}

.timeline-section .timeline:last-child .timeline-content:after,.timeline-section .timeline:last-child .timeline-content:before {
    width: 0;
    height: 0
}

.timeline-section .title {
    font-size: 22px;
    font-weight: 700;
    color: #727cb6;
    margin-top: 0;
    margin-bottom: 0.2rem;
}

.timeline-section .description {
    font-size: 15px;
    color: #7f8386;
    line-height: 1.6rem
}

.timeline-section .timeline:nth-child(2) {
    margin-top: 140px
}

.timeline-section .timeline:nth-child(2n) {
    margin-bottom: 80px
}

.timeline-section .timeline:nth-child(odd) {
    margin: -140px 0 0
}

.timeline-section .timeline:first-child,.timeline-section .timeline:last-child:nth-child(2n) {
    margin: 0!important
}

.timeline-section .timeline:nth-child(2n) .timeline-icon {
    right: auto;
    background: #e77e21;
    left: -40px
}

.timeline-section .timeline:nth-child(2n):before {
    right: auto;
    left: -20px;
    background: #e77e21
}

.timeline-section .timeline:nth-child(2n) .date {
    padding: 0 30px 0 60px;
    text-align: left
}

.timeline-section .timeline:nth-child(2n) .date:before {
    left: auto;
    right: 3px
}

.timeline-section .timeline:nth-child(2n) .date:after {
    border-left: none;
    border-right: 10px solid #303a3b;
    right: 50px
}

.timeline-section .timeline:nth-child(2n) .timeline-content {
    padding: 18px 40px 18px 60px;
    text-align: left
}

.timeline-section .timeline:nth-child(2n) .timeline-content:before {
    left: -95px
}

.timeline-section .timeline:nth-child(2n) .timeline-content:after {
    left: 15px
}

.timeline-section .timeline:nth-child(2n) .timeline-icon:before {
    border-color: #e77e21;
    box-shadow: 0 0 0 4px #f1a563
}

.timeline-section .timeline:nth-child(2n) .date:before {
    background: #e77e21;
    box-shadow: 0 0 0 4px #e77e21
}

.timeline-section .timeline:nth-child(2n) .title {
    color: #e77e21
}

.timeline-section .timeline:nth-child(3n) .timeline-icon,.timeline-section .timeline:nth-child(3n):before {
    background: #008b8b
}

.timeline-section .timeline:nth-child(3n) .timeline-icon:before {
    border-color: #008b8b;
    box-shadow: 0 0 0 4px #50b5b4
}

.timeline-section .timeline:nth-child(3n) .date:before {
    background: #008b8b;
    box-shadow: 0 0 0 4px #008b8b
}

.timeline-section .timeline:nth-child(3n) .title {
    color: #008b8b
}

.timeline-section .timeline:nth-child(4n) .timeline-icon,.timeline-section .timeline:nth-child(4n):before {
    background: #ed687c
}

.timeline-section .timeline:nth-child(4n) .timeline-icon:before {
    border-color: #ed687c;
    box-shadow: 0 0 0 4px #f798a8
}

.timeline-section .timeline:nth-child(4n) .date:before {
    background: #ed687c;
    box-shadow: 0 0 0 4px #ed687c
}

.timeline-section .timeline:nth-child(4n) .title {
    color: #ed687c
}

@media only screen and (max-width:990px) {
    .timeline-section .timeline {
        width: 100%
    }

    .timeline-section .timeline:nth-child(2n),.timeline-section .timeline:nth-child(odd) {
        margin: 0
    }

    .timeline-section .timeline:before,.timeline-section .timeline:nth-child(2n):before {
        width: 30px;
        height: 100%;
        left: 25px
    }

    .timeline-section .timeline-icon,.timeline-section .timeline:nth-child(2n) .timeline-icon {
        left: 0
    }

    .timeline-section .timeline:nth-child(2n) .date,.timeline-section .date {
        text-align: left;
        padding: 0 30px 0 100px
    }

    .timeline-section .timeline:nth-child(2n) .date:before,.timeline-section .date:before {
        left: auto;
        right: 4px
    }

    .timeline-section .date:after {
        left: auto;
        right: 50px;
        border-right: 10px solid #303a3b;
        border-left: none
    }

    .timeline-section .timeline-content .description {
        color: #666
    }

    .timeline-section .timeline-content,.timeline-section .timeline:nth-child(2n) .timeline-content {
        text-align: left;
        padding: 18px 40px 18px 100px
    }

    .timeline-section .timeline-content:after,.timeline-section .timeline-content:before {
        width: 0;
        height: 0
    }
}